<style>
	div {
		border-style: solid;
		border-width: 1px;
		border-color: aqua;
	}
</style>

<!-- Project Title -->
<div class="page-header">
	<h2>{{this.subject}}</h2>
</div>

<!-- Error handler -->
{{#if errors}}
	{{#each errors}}
		<div class="alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}

<div class="row">
	<!-- Project Description -->
	<div class="col-sm-3">
		<div class="row">
			<h3>Description</h3>
			<p>{{this.description}}</p>
		</div>

		<!-- Add attachment -->
		<div class="row">
			add attachment
		</div>

	</div>


	<!-- Comments -->
	<div class="col-sm-5">
		<h3>Comments</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="panel-body">
					{{#each Comments}}
						<p><strong>{{this.User.username}}:</strong> {{this.body}}</p>
					{{/each}}
				</div>
				<form  method="post" action="/user/comment/new/{{user.id}}/{{this.id}}">
					<input type="text" class="form-control" placeholder="Text input" name="body">
					<button type="submit" class="btn btn-success btn-sm pull-right">Send</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Proposals -->
	<div class="col-sm-4">
		<h3>Proposals</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				{{#each Proposals}}
					<p>{{this.body}}</p>
				{{/each}}
			</div>
		</div>
	</div>

</div>